{% extends 'base.html' %}

{% block title %}
Frequently Asked Questions
{% endblock %}

{% block content %}
<div class="container my-5 schl-page faq">
    <div>
        <!-- Buttons trigger collapse -->
        <p>
            <a class="btn btn-dark btn-toolbar d-flex" data-bs-toggle="collapse" href="#collapse-1" role="button"
                aria-expanded="false" aria-controls="collapse">
                1. Who should apply ?
            </a>
        </p>
        <!-- Collapse Control -->
        <div class="collapse" id="collapse-1">
            <div class="card card-body">
                Any of the student of BIT institution can apply.
            </div>
        </div>
    </div>

    <div>
        <!-- Buttons trigger collapse -->
        <p>
            <a class="btn btn-success btn-toolbar d-flex" data-bs-toggle="collapse" href="#collapse-2" role="button"
                aria-expanded="false" aria-controls="collapse">
                2. Which courses are covered under the scheme?
            </a>
        </p>
        <!-- Collapse Control -->
        <div class="collapse" id="collapse-2">
            <div class="card card-body">
                All of the mentioned Scholarships will be for B.E/B.Tech.
            </div>
        </div>
    </div>

    <div>
        <!-- Buttons trigger collapse -->
        <p>
            <a class="btn btn-success btn-toolbar d-flex" data-bs-toggle="collapse" href="#collapse-3" role="button"
                aria-expanded="false" aria-controls="collapse">
                3. What mandatory documents are required ?
            </a>
        </p>
        <!-- Collapse Control -->
        <div class="collapse" id="collapse-3">
            <div class="card card-body">
                Refer Certificate Instruction.
            </div>
        </div>
    </div>

    <div>
        <!-- Buttons trigger collapse -->
        <p>
            <a class="btn btn-success btn-toolbar d-flex" data-bs-toggle="collapse" href="#collapse-4" role="button"
                aria-expanded="false" aria-controls="collapse">
                4. Whether compulsory to have a bank account ?
            </a>
        </p>
        <!-- Collapse Control -->
        <div class="collapse" id="collapse-4">
            <div class="card card-body">
                Yes, for most of the Scholarships mentioned.
            </div>
        </div>
    </div>

    <div>
        <!-- Buttons trigger collapse -->
        <p>
            <a class="btn btn-success btn-toolbar d-flex" data-bs-toggle="collapse" href="#collapse-5" role="button"
                aria-expanded="false" aria-controls="collapse">
                5. Any Preference available to particular Caste?
            </a>
        </p>
        <!-- Collapse Control -->
        <div class="collapse" id="collapse-5">
            <div class="card card-body">
                Refer Eligibility criteria.
            </div>
        </div>
    </div>

    <div>
        <!-- Buttons trigger collapse -->
        <p>
            <a class="btn btn-success btn-toolbar d-flex" data-bs-toggle="collapse" href="#collapse-6" role="button"
                aria-expanded="false" aria-controls="collapse">
                6. What is the minimum percentage required to apply?
            </a>
        </p>
        <!-- Collapse Control -->
        <div class="collapse" id="collapse-6">
            <div class="card card-body">
                For most of the Scholarships mentioned, Student Must have secured atleast 60% in Class 10th and 12th.
            </div>
        </div>
    </div>

    <div>
        <!-- Buttons trigger collapse -->
        <p>
            <a class="btn btn-success btn-toolbar d-flex" data-bs-toggle="collapse" href="#collapse-7" role="button"
                aria-expanded="false" aria-controls="collapse">
                7. What is the Helpdesk Number?
            </a>
        </p>
        <!-- Collapse Control -->
        <div class="collapse" id="collapse-7">
            <div class="card card-body">
                +91 080 26615865
            </div>
        </div>
    </div>

    <div>
        <!-- Buttons trigger collapse -->
        <p>
            <a class="btn btn-success btn-toolbar d-flex" data-bs-toggle="collapse" href="#collapse-8" role="button"
                aria-expanded="false" aria-controls="collapse">
                8. Can one apply for multiple scholarships?
            </a>
        </p>
        <!-- Collapse Control -->
        <div class="collapse" id="collapse-8">
            <div class="card card-body">
                Yes
            </div>
        </div>
    </div>
</div>
{% endblock %}