{% extends 'base.html' %}

{% block title %}
Q&A_page
{% endblock %}

{% block content %}
<div class="container my-5 schl-page">
    <div>
        <!-- Buttons trigger collapse -->
        <p>
            <a class="btn btn-success btn-toolbar d-flex" data-bs-toggle="collapse" href="#collapse-1" role="button"
                aria-expanded="false" aria-controls="collapse">
                1.What are the features of Scholarship Portal?
            </a>
        </p>
        <!-- Collapse Control -->
        <div class="collapse" id="collapse-1">
            <div class="card card-body">
                Scholarship portal provides single window for students to access information and make application for
                educational scholarships. It has the following features:
                <ul>
                    <li>
                        Information about various educational scholarships.
                    </li>
                    <li>
                        Apply to multiple Educational Scholarships & Schemes.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <!-- Buttons trigger collapse -->
        <p>
            <a class="btn btn-success btn-toolbar d-flex" data-bs-toggle="collapse" href="#collapse-2" role="button"
                aria-expanded="false" aria-controls="collapse">
                2. Objective of providing Educational Scholarship through portal?
            </a>
        </p>
        <!-- Collapse Control -->
        <div class="collapse" id="collapse-2">
            <div class="card card-body">
                To provide financial assistance to meritorious students from low income families to meet a part of their
                day to day expenses while pursuing higher studies.
            </div>
        </div>
    </div>

    <div>
        <!-- Buttons trigger collapse -->
        <p>
            <a class="btn btn-success btn-toolbar d-flex" data-bs-toggle="collapse" href="#collapse-3" role="button"
                aria-expanded="false" aria-controls="collapse">
                3. How to register on Scholarship portal?
            </a>
        </p>
        <!-- Collapse Control -->
        <div class="collapse" id="collapse-3">
            <div class="card card-body">
                <ul>
                    <li>Login to our website.</li>
                    <li>Click on the "Sign Up" button at the extreme top most right hand corner</li>
                    <li>Fill the basic required fields</li>
                    <li>Click on the "Submit" button to create your account on Scholarship Portal</li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <!-- Buttons trigger collapse -->
        <p>
            <a class="btn btn-success btn-toolbar d-flex" data-bs-toggle="collapse" href="#collapse-4" role="button"
                aria-expanded="false" aria-controls="collapse">
                4. How can I apply for Educational Scholarship through Portal?
            </a>
        </p>
        <!-- Collapse Control -->
        <div class="collapse" id="collapse-4">
            <div class="card card-body">
                In order to apply online, please visit the website.
                <br>
                The applicant must "login" to Portal then search for scholarship scheme
                specific details.
            </div>
        </div>
    </div>

    <div>
        <!-- Buttons trigger collapse -->
        <p>
            <a class="btn btn-success btn-toolbar d-flex" data-bs-toggle="collapse" href="#collapse-5" role="button"
                aria-expanded="false" aria-controls="collapse">
                5. List of documents I need to be ready with before filling application.
            </a>
        </p>
        <!-- Collapse Control -->
        <div class="collapse" id="collapse-5">
            <div class="card card-body">
                Please click on scholarship scheme name for mandatory documents.
            </div>
        </div>
    </div>

    <div>
        <!-- Buttons trigger collapse -->
        <p>
            <a class="btn btn-success btn-toolbar d-flex" data-bs-toggle="collapse" href="#collapse-6" role="button"
                aria-expanded="false" aria-controls="collapse">
                6. Where can I see eligibility criteria for scholarship?
            </a>
        </p>
        <!-- Collapse Control -->
        <div class="collapse" id="collapse-6">
            <div class="card card-body">
                In "Schemes and Scholarships" click on scholarship scheme name for eligibility criteria.
            </div>
        </div>
    </div>

    <div>
        <!-- Buttons trigger collapse -->
        <p>
            <a class="btn btn-success btn-toolbar d-flex" data-bs-toggle="collapse" href="#collapse-7" role="button"
                aria-expanded="false" aria-controls="collapse">
                7. What will be the Maximum Scholarship Reward available?
            </a>
        </p>
        <!-- Collapse Control -->
        <div class="collapse" id="collapse-7">
            <div class="card card-body">
                The maximum amount of scholarship that can be rewarded, will be less than or equal to the educational
                course fees as stated in the admission certificate or fee receipt. Also the Scholarship amount is
                subject to differ from scheme to scheme, Institute to Institute and from course to course.
            </div>
        </div>
    </div>

    <div>
        <!-- Buttons trigger collapse -->
        <p>
            <a class="btn btn-success btn-toolbar d-flex" data-bs-toggle="collapse" href="#collapse-8" role="button"
                aria-expanded="false" aria-controls="collapse">
                8. What is Scholarship Reimbursement?
            </a>
        </p>
        <!-- Collapse Control -->
        <div class="collapse" id="collapse-8">
            <div class="card card-body">
                Instances where the student has already paid the educational fees for the current academic year, in
                those cases the amount of scholarship will be disbursed to the student bank account against the paid fee
                receipt duly acknowledged by the educational institution.
            </div>
        </div>
    </div>

    <div>
        <!-- Buttons trigger collapse -->
        <p>
            <a class="btn btn-success btn-toolbar d-flex" data-bs-toggle="collapse" href="#collapse-9" role="button"
                aria-expanded="false" aria-controls="collapse">
                9. How the fund for scholarship is disbursed/transferred?
            </a>
        </p>
        <!-- Collapse Control -->
        <div class="collapse" id="collapse-9">
            <div class="card card-body">
                Scholarship of an applicant will be disbursed directly to the applicant's registered bank account or
                institute bank account.
            </div>
        </div>
    </div>
</div>
{% endblock %}